.modal{
    background-color: #e4e4e6;
    border-radius: 15px;
    padding: 25px;
    padding-left: 60px;
    position: relative;
    margin-top: 300px;
    margin-left: 200px;
    width: 50%;
}
.p{
    text-align: right;
}
h1{
    text-align: left;
}
